* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container,
.logo {
  display: flex;
  flex-flow: row wrap;
}

/* left side */

.picture {
  width: 40vw;
  background: url(./images/tree.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 25vh;
  gap: 0.5vw;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.logo .logo-image {
  height: 12vh;
}

.logo .odin {
  font-family: Norse;
  font-size: 5.5rem;
  color: white;
  margin-top: 30px;
}

/* right side */

.right {
  width: 60vw;
  background-color: #f9fafb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 20px;
}

.left {
  padding-left: 4vw;
}

.dummy-text,
.remote-text,
.form-title {
  font-weight: 600;
}

.dummy-text {
  width: 85%;
  font-size: 1.2rem;
}

.remote-text {
  margin: 25px 0 60px;
}

.form {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.form-title {
  width: 100%;
  font-size: 1.2rem;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 35%;
  font-size: 90%;
  text-transform: uppercase;
}

.input:nth-child(odd) {
  margin-left: 3vw;
}

label {
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  font-size: 90%;
}

input {
  background-color: #fffefe;
  font-weight: 550;
  padding: 5px 8px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #61b0b7;
}

button {
  background-color: #596d48;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 12px 45px;
  border-radius: 10px;
  margin: 30px 0;
  transition: 0.2s all ease-in-out;
}

button:hover {
  color: black;
}

.log-in {
  display: flex;
  gap: 5px;
}

a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}

@media only screen and (max-width: 780px) {
  .container {
    flex-flow: column;
    height: auto;
    text-align: center;
  }
  .picture {
    width: 100vw;
    height: 15vh;
    display: flex;
    background-size: 100vw;
  }
  .logo {
    width: 100vw;
    gap: 10px;
    position: static;
    padding: 0;
  }
  .right {
    width: auto;
    height: auto;
  }
  .dummy-text {
    width: auto;
    margin-top: 30px;
  }
  .left {
    padding: 10px 20px;
  }
  .remote-text {
    padding: 20px 0;
    margin: 0;
  }
  .form {
    flex-flow: column nowrap;
    align-items: center;
  }
  .input {
    width: auto;
    font-size: 0.9em;
  }
  .input:nth-child(odd) {
    margin-left: 0;
  }
  input {
    font-size: 0.9rem;
    height: 1.5rem;
    width: 70vw;
  }
  .button,
  .log-in {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  button {
    margin-bottom: 0px;
    width: 60vw;
    padding: 10px 5px;
  }
}
